@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

html,body,* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    /* Removed as nav is not longer position:fixed --- padding-top: 70px; */
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
		/* Remove body content width/margins on small screens */
		.content {
			width:90%;
			padding:0;
			margin-left:5%;
			margin-right:5%;
		}
		
		.nav-top-nav {
			display: none;
		}
		
		.nav-top-toggle {
			    position: relative;
				float: right;
				margin-right: 15px;
				padding: 9px 10px;
				margin-top: 13px;
				margin-bottom: 13px;
				background-color: transparent;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 4px;
				color:#FFF!important;
		}
		
		.nav-show .nav-top-nav {
			display:inline-block;
		}
		
		.nav-show .nav-top-nav li,
		.nav-show .nav-top-nav li a {
			display:block;
		}
}


/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		/* Adds body content width/margin on medium+ screens */
		.content {
			width:65%;
			margin-left:17.5%;
		}
		
		.nav-top-toggle {
			display:none;
		}
		
		.nav-top-nav {
			display:inline-block;
		}
		
		.nav-top ul.nav-top-nav li {
			float: left;
		}
    }

	
.maps {
	margin-top:15px;
}

.caret {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}

.nav-top {
    border: none;
    background-color: #2c3e50;
    padding:0 20px;
	margin-bottom:25px;
    min-height: 60px;
	overflow:auto;
    width: 100%;
}
.nav-top a.nav-top-title {
    font-weight: bold;
}

.nav-top a.nav-top-title,
.nav-top ul.nav-top-nav .nav-top-button {
	position:relative;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    float: left;
}

.nav-top a.nav-top-title:hover,
.nav-top ul.nav-top-nav .nav-top-button:hover {
    background-color: rgba(0, 0, 0, .5);
}

.nav-top ul.nav-top-nav {
    float: left;
    margin: 0;
    list-style: none;
}

@keyframes anim-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* Nav drop down closed */
.nav-top ul.nav-top-nav li.nav-top-dropdown ul  {
	display:none;
	opacity:0; /* Using opacity allows us to 'fade in' on display */
	-webkit-animation: anim-fadeIn 1s;
    animation: anim-fadeIn .4s;
}

.nav-top ul.nav-top-nav li.nav-top-dropdown ul  li  a{
	font-size: 16px;
	padding:5px;
	color:#333;
	text-overflow: ellipsis;
}
.nav-top ul.nav-top-nav li.nav-top-dropdown ul  li  a:hover {
	color:#FFF;
	background-color:#2c3e50;
}

/* Nav drop down open */
.nav-top ul.nav-top-nav li.nav-top-dropdown:hover ul ,
.nav-top ul.nav-top-nav li.nav-top-dropdown:focus ul  {
	opacity:1;
	display:block!important;
	position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 50px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* Rotates caret on hover (drop down open) */
.nav-top ul.nav-top-nav li.nav-top-dropdown:hover a .caret {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-top ul.nav-top-nav li.nav-top-dropdown ul  li ,
.nav-top ul.nav-top-nav li.nav-top-dropdown ul  li  a {
	display:block;
	float:none;
}

a {
	color:#3498db;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #2c3e50;
	text-decoration: underline;
}

section{
    /* Too keep floating images from overlapping */
    overflow: auto;
}

section.section-padded {
    padding: 25px 0;
}

section img.section-img {
    max-height: 250px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.section-img.float-left {
    margin-right: 25px;
}

.section-img.float-right {
    margin-left: 25px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.content {
    padding: 0 25px;
}

.advert {
	background-color:rgba(238, 238, 238, 1);
	padding:15px;
	border:1px solid #000;
}

.advert:hover {
	cursor:pointer;
	background-color:rgba(238, 238, 238, .5);
}

.margin-top {
	margin-top:15px;
}

.margin-bottom {
	margin-bottom:15px;
}

table {
	width:100%;
}

thead,
thead tr,
thead tr td {
	text-align:left;
	text-decoration:underline;
}

footer {
    padding-top: 50px;
    text-align: center;
}

.fav-pet-start {
	text-align:center;
}

.fav-pet-start img {
	max-width:150px;
}

.fav-pet-drop {
	min-height:100px;
	background-color:#eee;
	border-radius:15px;
	width:100%;
	text-align:center;
}

.contact-form {
	border-radius: 5px;
	background-color: #eee;
	padding:15px;
}

.form-input-wrapper:first-of-type {
	padding-top:35px;
}

.form-input-wrapper {
	width:100%;
	padding:5px 15px;
}

.form-input-wrapper label {
	width:20%;
	display:inline-block;
	text-align:right;
	font-weight:bold;
	padding-right:10px;
}

.form-input-wrapper input,
.form-input-wrapper textarea,
.form-input-wrapper  select {
	width:50%;
	padding:5px;
	line-height: 1.4;
	background-color:#FFF;
	border: 1px solid #dce4ec;
	border-radius: 4px;
}

.form-input-wrapper input[type="checkbox"],
.form-input-wrapper input[type="radio"]
{
	width:5%;
}


.form-input-wrapper input:focus,
.form-input-wrapper textarea:focus,
.form-input-wrapper  select:focus {
	border-color:#2c3e50;
	box-shadow: none;
} 

.form-input-wrapper.form-input-no-label input,
.form-input-wrapper.form-input-no-label select,
.form-input-wrapper.form-input-no-label textarea,
.form-input-wrapper  div
 {
	margin-left:21%; /* matches label width */
}

.form-input-wrapper input:invalid,
.form-input-wrapper textarea:invalid,
.form-input-wrapper  select:invalid,
.invalid {
	border-color:#ee9900!important;
}

.text-center {
	text-align: center;
}